.dataTables_length {
  display: inline-block;
  margin-right: 5px;
}

#materials_filter {
  display: inline-block;
  float: right;
}

div.dataTables_wrapper div.dataTables_filter {
  float: right;
  display: inline-block;
}

.dataTables_info {
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_paginate {
  display: inline-block;
  float: right;
}

.dropdown-icon-disabled.dropdown-toggle::after {
  display: none !important;
}

.partcode_msg {
  font-size: 12px;
  margin-bottom: 5px;
}

.suggested_partcode {
  font-weight: bold;
  cursor: pointer;
}

.card-header {
  padding: 0.45rem 1.25rem;
}

.table tbody td {
  padding: 0.15rem;
}

body:not(.layout-fixed) .main-sidebar .sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
  position: absolute;
  top: 60px;
  left: 0;
}

.sidebar:hover {
  scrollbar-width: none !important;
}

.validation-error {
  font-size: 12px;
  margin-bottom: 5px;
}

.fw-bold {
  font-weight: bold;
}

.record-badge-reorder {
  height: 10px;
  width: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px ;
}

.modal-title {
  width: 98%;
}


